*{
	margin: 0px auto;
	padding: 0px
}
a{
	text-decoration: none;
	color: black
}
html, body {
max-width: 100%;
overflow-x: hidden;
}
#nav{
	width: 100%;
	height: auto;
	line-height: 70px;
	text-align: center;
	background-color : lightgray;
	border-bottom: 1px dashed gray;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: 1
}


#nav input[type="image"]{
	width: 60px;
	height: 55px;
	margin: 0px 5px 2px 0px;
	vertical-align: middle;
	border: 0px solid white;
	border-radius: 10px;
	outline: none;
}

#find{
	width: 100%; 
	height: 150px;
	margin-top: 70px;
	text-align: center;
	overflow: hidden;
}
.logo{
	width: 200px;
	height: 70px;
	margin-top: 5px;
	display : block;
}
#find input[type="text"]{
	width: 60%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0px 10px;
	font-size: 22px;
	border: 3px solid red;
	border-radius: 10px;
	outline: none;
	vertical-align: middle;
}
#find input[type="submit"]{
	width: 70px;
	height: 50px;
	background: url("../image/button.png");
	background-repeat : no-repeat;
	background-size: 100% 100%;
	border: 0px solid lightgray;
	border-radius: 10px;
	vertical-align: middle;
	outline: none;
}
#find input[type="submit"]:HOVER{
	width: 70px;
	height: 50px;
	border: 0px solid lightgray;
	border-radius: 10px;
	vertical-align: middle;
	outline: none;
}
#section{
	
	
}
#new{
	width: 100%;
	height: 200px;
	text-align: center;
	margin-top: 5px;
	margin-right: 10px; 
	float: left;
}

#new .new{
	font-size: 22px;
	font-weight: bold;
	color: red;
	vertical-align: middle;
	margin: 5px;

}
#new .newicon{
	display: inline;
	width: 25px;
	height: 25px;
	vertical-align: bottom;
}
#new table{
	width: 95%;
	height: 160px;
	margin: 5px 10px;
	text-align: center;
	border: 2px solid #f90052;
	border-radius: 10px;
	background-color: white
}
#new table tr:FIRST-CHILD{
	background-color: #f90052;
	font-size: 16px;
	font-weight: bold;
	color : white
	
}
#new table td{
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	color : black
}

#new table tr:FIRST-CHILD td{
	color : white;
	border-bottom: 1px solid white
}
#new table tr:nth-CHILD(2) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#new table tr:nth-CHILD(3) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#new table tr:nth-child(2):HOVER, #new table tr:nth-child(2):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#new table tr:nth-child(3):HOVER, #new table tr:nth-child(3):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#new table tr:nth-child(4):HOVER, #new table tr:nth-child(4):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#new table tr:FIRST-CHILD td:FIRST-CHILD{
	width: 50%
}
#login{
	width: 94%;
	height: 100px;
	text-align: center;
	margin: 5px 10px;
	float: left;
	background-color: #FCFCFC;
	border: 2px solid #f90052;
	border-radius: 10px;
	overflow: hidden;
}
.login_logo{
	display: none
}
#login p input[type="button"]{
	width: 94%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	margin: 10px 15px 10px 10px;
	text-align: center;
	float: left;
	background-color: #EAEAEA;
	border: 1px solid lightgray;
	border-radius: 10px;
	outline: none;
	
}
#login p input[type="button"]:HOVER{
	width: 94%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	margin: 10px 15px 10px 10px;
	text-align: center;
	float: left;
	background-color: #D4F4FA;
	border: 1px solid #D4F4FA;
	border-radius: 10px;
	outline: none;
	
}
#login a:FIRST-CHILD{
	margin-right: 30px;
}
#point_top3{
	width: 94%;
	height: 50px;
	text-align: center;
	margin: 10px 10px;
	border: 2px solid #f90052;
	border-radius: 10px;
	background-color: #f90052;
	float: left;
}
#point_down3{
	width: 94%;
	height: 50px;
	text-align: center;
	margin: 0px 10px;
	border: 2px solid #f90052;
	border-radius: 10px;
	background-color: #f90052;
	float: left;
}
#rank-list {
    overflow: hidden;
    width: 90%;
    height: 47px;
    margin: 0px 16%;
    font-size: 18px
}
 
#rank-list dd {
    position: relative;
    margin: 0;
}
 
#rank-list ol {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rank-list li {
	color : white;
    height: 47px;
    line-height: 47px;
	margin:0px 10px;
}


#rank-list2 {
    overflow: hidden;
    width: 90%;
    height: 47px;
    margin: 0px 16%;
    font-size: 18px;
}
 
#rank-list2 dd {
    position: relative;
    margin: 0;
}
 
#rank-list2 ol {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#rank-list2 li {
	color : white;
	margin:0px 10px;
    height: 47px;
    line-height: 47px;
    
}
#content1{
	width: 100%;
	height: 200px;
	text-align: center;
	margin: 20px 10px 10px 0px;
	float: left;
	background-color: white;
	overflow: hidden;

}

#content1 .new{
	font-size: 22px;
	font-weight: bold;
	color: red;
	vertical-align: middle;
	margin: 5px;

}
#content1 .newicon{
	display: inline;
	width: 25px;
	height: 25px;
	vertical-align: bottom;
}
#content1 table{
	width: 95%;
	height: 160px;
	margin: 5px 10px;
	text-align: center;
	border: 2px solid #f90052;
	border-radius: 10px;
	background-color: white
}
#content1 table tr:FIRST-CHILD{
	background-color: #f90052;
	font-size: 16px;
	font-weight: bold;
	color : white
	
}
#content1 table td{
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	color : black
}

#content1 table tr:FIRST-CHILD td{
	color : white;
	border-bottom: 1px solid white
}
#content1 table tr:nth-CHILD(2) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content1 table tr:nth-CHILD(3) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content1 table tr:nth-child(2):HOVER, #content1 table tr:nth-child(2):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content1 table tr:nth-child(3):HOVER, #content1 table tr:nth-child(3):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content1 table tr:nth-child(4):HOVER, #content1 table tr:nth-child(4):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content1 table tr:FIRST-CHILD td:FIRST-CHILD{
	width: 50%
}

#content2{
	width: 100%;
	height: 200px;
	margin: 5px 0px;
	text-align: center;
	float: left;
	overflow: hidden;
}
#content2 .new{
	font-size: 22px;
	font-weight: bold;
	color: red;
	vertical-align: middle;
	margin: 5px;

}
#content2 .newicon{
	display: inline;
	width: 25px;
	height: 25px;
	vertical-align: bottom;
}
#content2 table{
	width: 95%;
	height: 160px;
	margin: 5px 10px;
	text-align: center;
	border: 2px solid #f90052;
	border-radius: 10px;
	background-color: white
}
#content2 table tr:FIRST-CHILD{
	background-color: #f90052;
	font-size: 16px;
	font-weight: bold;
	color : white
	
}
#content2 table td{
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	color : black
}

#content2 table tr:FIRST-CHILD td{
	color : white;
	border-bottom: 1px solid white
}
#content2 table tr:nth-CHILD(2) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content2 table tr:nth-CHILD(3) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content2 table tr:nth-child(2):HOVER, #content2 table tr:nth-child(2):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content2 table tr:nth-child(3):HOVER, #content2 table tr:nth-child(3):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content2 table tr:nth-child(4):HOVER, #content2 table tr:nth-child(4):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content2 table tr:FIRST-CHILD td:FIRST-CHILD{
	width: 50%
}
#content3{
	width: 100%;
	height: 280px;
	margin: 5px 0px;
	text-align: center;
	float: left;
}

#content3 .new{
	font-size: 22px;
	font-weight: bold;
	color: red;
	vertical-align: middle;
	margin: 5px;

}

#content3 table{
	width: 95%;
	height: 240px;
	margin: 5px 10px;
	text-align: center;
	border: 2px solid #f90052;
	border-radius: 10px;
	background-color: white
}
#content3 table tr:FIRST-CHILD{
	background-color: #f90052;
	font-size: 16px;
	font-weight: bold;
	color : white
	
}
#content3 table td{
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	color : black
}

#content3 table tr:FIRST-CHILD td{
	color : white;
	border-bottom: 1px solid white
}
#content3 table tr:nth-CHILD(2) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content3 table tr:nth-CHILD(3) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content3 table tr:nth-CHILD(4) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content3 table tr:nth-CHILD(5) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content3 table tr:nth-CHILD(6) td{
	color : black;
	border-bottom: 1px dashed lightgray
}
#content3 table tr:nth-CHILD(7) td{
	color : black;
	border-bottom: 1px dashed lightgray
}

#content3 table tr:nth-child(2):HOVER, #content3 table tr:nth-child(2):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:nth-child(3):HOVER, #content3 table tr:nth-child(3):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:nth-child(4):HOVER, #content3 table tr:nth-child(4):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:nth-child(5):HOVER, #content3 table tr:nth-child(5):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:nth-child(6):HOVER, #content3 table tr:nth-child(6):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:nth-child(7):HOVER, #content3 table tr:nth-child(7):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:nth-child(8):HOVER, #content3 table tr:nth-child(8):HOVER td{
	background-color: #f0f0f0;
	color: black
}
#content3 table tr:FIRST-CHILD td:FIRST-CHILD{
	width: 50%
}

#content4{
	width: 100%;
	height: 300px;
	margin: 0px;
	text-align: center;
	float: left;
	overflow: hidden;
	background-color : lightpink
}
#content4 img{
	width: 100%;
	height: 100% 
	
}
#footer p{
	font-size: 12px;
	color : white;
	text-align: center;
}







#logo{
	width: 100%; 
	height: 90px;
	margin-top: 70px;
	text-align: center;
	overflow: hidden;
}
#modify_form1, #modify_form2{
	width: 89%;
	height: 100%;
	text-align: center;
	margin: 5px 5px 10px 10px;
	padding: 10px;
	border: 1px solid #dadada;
	float: left;
	overflow: hidden;
}
#modify_form1 img, #modify_form2 img{
	width: 45px;
	height: 40px;
	vertical-align: middle;
	margin-left: 7%
}

input[type="text"], input[type="password"], input[type="email"]{
	width: 73%;
	height: 40px;
	line-height: 40px;
	color: black;
	border: 0px solid #dadada;
	text-align: left;
	vertical-align: middle;
	font-size: 16px;
	margin: 5px 0px 0px 0px;
	padding-left: 10px;
	vertical-align: bottom;
}

input[type="button"], input[type="submit"]{
	width: 97%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color : white;
	font-weight: bold;
	font-size: 18px;
	background-color: #ff3c7b;
	border: 1px solid #ff3c7b;
	margin: 20px 10px 10px 5px;
	outline: none;
}
input[type="button"]:HOVER, input[type="submit"]:HOVER{
	width: 97%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color : white;
	font-weight: bold;
	font-size: 18px;
	background-color: #f90052;
	border: 1px solid #f90052;
	margin: 20px 10px 10px 5px;
	outline: none;
}
h2{
	color: #f90052;
	margin-bottom: 5px;
	text-align: center;
}
#member_modify_form p a{
	margin: 0px 30px
}
#footer{
	clear: both;
	width: 100%;
	height: 100px;
	text-align: center;
	background-color : #555555
}

#footer input[type="button"]{
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin : 20px 0px;
	color: white;
	font-size: 12px;
	border: 1px solid #37373e;
	border-radius: 5px;
	background-color: #4f4f5b;
	outline: none
}
#footer input[type="button"]:HOVER{
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin : 20px 0px;
	color: white;
	font-size: 12px;
	border: 1px solid #37373e;
	border-radius: 5px;
	background-color: #373740;
	outline: none
}
.form_font{
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
}
.id_check, .nowpw_check, .newpw_check, .newpwc_check, .name_check, .email_check, .find_q_check, .find_a_check{
	display: none;
	color : #f90052;
	font-size: 14px;
	text-align: center;
	margin : 5px 0px 10px 10px
}
hr{
	margin-top: 10px;
	color: #d0d0d0;
	border: thin dashed #dadada; 
}
.myid{
	text-align: center;
	margin: 0px auto;
}
table tr td:FIRST-CHILD {
	width: 80px
}