/* Main header scope*/
#main_header {
	position: sticky;
	top: 0px;
	padding: 30px;
	overflow: hidden;
	background-color: white;
	padding-bottom: 0px;
}


/* Main nav scope */
#main_nav a {
	width: 150px;
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#main_nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Main footer scope */
#main_footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
* {
  box-sizing: border-box;
}
/* #main_aside{ */
/*   position: sticky; */
/*   top: 30px; */
/*   width: 80px; */
/*   height: 80px; */
/*   background: gray; */
/*   color: white; */
/* } */


body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .main_nav a {
    float: none;
    width: 100%;
  }
}