@CHARSET "UTF-8";
 section {border: 3px solid #a00;
	margin: 50px 20px; 
	padding: 20px; 
	background-image: url("img/carrots.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float :left;
	border-radius:100px;
 }
 section>div {border: 1px solid; 
	width: 300px;  height: 50px;
	background-color : #000;
	box-sizing:border-box;
	margin:10px 5px;
	color:#fff;
	padding: 2px 6px;
	font-size:1.2em;
	font-weight:bold;
 }
 body{background-color:black;}
 
.opa01 {opacity: 0;}
.opa02 {opacity: 0.1;}
.opa03 {opacity: 0.2;}
.opa04 {opacity: 0.3;}
.opa05 {opacity: 0.4;}
.opa06 {opacity: 0.5;}
.opa07 {opacity: 0.6;}
.opa08 {opacity: 0.7;}
.opa09 {opacity: 0.8;}
.opa10 {opacity: 0.9;}
.opa11 {opacity: 1;}

article{
	display : grid;
	grid-template-columns : repeat(3, 1fr);
}

h1{
	background-color:rgba(255,255,255,0.8);
	border-right : 12px solid rgba(30,30,30,0.8);
	border-left : 12px solid rgba(30,30,30,0.8);
	text-align:center;
	height : 110px;
	width:500px;
	margin:30px auto;
}
section#sec01>h1{
	font-size : 40px;
	text-shadow : -3px -3px 2px #999;
	opacity:0.5;
}
section#sec01:HOVER>div{
	opacity:1;
	transition:all 1.3s;
}
section#sec02>h1{
	font-size : 40px;
	color : rgba(0,0,0,0.3);
	text-shadow : 3px 3px 3px rgba(0,0,0,0.7);
}
section#sec02:HOVER>div{
	background-color: rgba(0,0,0,1);
	transition:all 1.3s;
}
.alpha01 {background-color: rgba(0,0,0,0);}
.alpha02 {background-color: rgba(0,0,0,0.1);}
.alpha03 {background-color: rgba(0,0,0,0.2);}
.alpha04 {background-color: rgba(0,0,0,0.3);}
.alpha05 {background-color: rgba(0,0,0,0.4);}
.alpha06 {background-color: rgba(0,0,0,0.5);}
.alpha07 {background-color: rgba(0,0,0,0.6);}
.alpha08 {background-color: rgba(0,0,0,0.7);}
.alpha09 {background-color: rgba(0,0,0,0.8);}
.alpha10 {background-color: rgba(0,0,0,0.9);}
.alpha11 {background-color: rgba(0,0,0,1);}

@media(max-width:1300px){
	article{
		display:inline;
	}
}





