<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	 <!-- 
           한개의  xml파일에서 모든 <bean>을 설정 하면 복잡해서 관리하기 어려우므로
     <bean>의 종류에 따라  각각의 .xml파일에 나누어 설정 합니다.
           그러면 톰캣 이 웹프로젝트를 실행시  web.xml에서 스프링의  ContextLoaderListener를 이용해
     <bean>설정 파일인 .xml파일들을 읽어 들입니다.
    -->
    
   <!-- 여러 설정 파일을 읽어 들이기 위해 스프링프레임웍에서 제공해주는 ContextLoaderListener클래스를 설정함. -->
	<listener>
      <listener-class>
         org.springframework.web.context.ContextLoaderListener
     </listener-class>
   </listener>
   <!--톰캣이 애플리케이션 실행시 ContextLoaderListener클래스로 해당 위치의 설정 파일(.xml파일들)을 읽어 들입니다.   -->
	<context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
          /WEB-INF/config/action-mybatis.xml  <!-- 마이바티스 설정 파일을 읽어 들입니다. -->
          /WEB-INF/config/action-service.xml
      </param-value>
   </context-param>
	
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>