@CHARSET "UTF-8";

body {
  height: 900px; 	
 /* background-color: #0f0; */
 background-image: url("img/coffee.jpg");
 background-repeat:no-repeat; 
 background-position: 50% 50%;
 background-size: 100% 100%;
 background-attachment:fixed; /*  */ }

div#wrap {
border: 1px solid;
width:900px;
margin: 30px auto;/*블럭요소를 가운데정렬*/
padding: 1em 1em 1.5em 1.2em;
color: #fff;
}

section { border: 3px dashed;
 padding: 1em;	
 background-color: #333; }


 /* background-repeat */
#sec01>p /* 예제 문단들의 공통 속성 지정*/
{border: 1px solid #a50;
 height: 600px;
 padding: 1.5em;
 background-image: url("img/adventure.jpg"); 
 color: #000;
 font-size: 1.5em;}

.bg-re01 {background-repeat: repeat; }
.bg-re02 {background-repeat: repeat-x;}
.bg-re03 {background-repeat: repeat-y;}
.bg-re04 {background-repeat: no-repeat;}


 /* background-position */
#sec02>p /* 예제 문단들의 공통 속성 지정*/
{border: 1px solid #f50;
 height: 600px;
 padding: 1.5em;
 background-image: url("img/baking.jpg"); 
 background-repeat:no-repeat;
 color: #000;
 font-size: 1.5em;}

.bg-po01 {background-position:left center;}
.bg-po02 {background-position:center center; }
.bg-po03 {background-position:right bottom; }
.bg-po04 {background-position:100px 50px; }
.bg-po05 {background-position:80% 30%;}
.bg-po06 {background-position:10em 5em;}


 /* background-size */
#sec03>p /* 예제 문단들의 공통 속성 지정*/
{border: 1px solid #f50;
 height: 600px;
 padding: 1.5em;
 background-image: url("img/baking.jpg"); 
 background-repeat:no-repeat;
 color: #000;
 font-size: 1.5em;}

.bg-sz01 {background-size:contain; }
.bg-sz02 {background-size:cover;}
.bg-sz03 {background-size:100% 100%;  }
.bg-sz04 {background-size:300px 400px;}



 /*  background-attachment */
#sec04>p /* 예제 문단들의 공통 속성 지정*/
{border: 1px solid #50f;
 height: 200px;
 overflow: auto;
 padding: 1.5em;
 background-image: url("img/baking.jpg"); 
 color: #000;
 font-size: 2.5em;}
 
.bg-att01 {
 background-attachment:scroll;}
  
.bg-att02 {
 background-attachment: fixed;} 
 
.bg-att03 {
 background-attachment: local;} 
 
 
 
 
 
 
 






