@CHARSET "UTF-8";
 body { background-color: #000;
   color: #fff;
  }

 ol { background-color: #fff;
   color: #000;
  }

 .li3 { background-color: #adc; }

 .imp { font-size: 20px;
   font-weight: bold;
   color: #255c4a;
 }
