@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

body * {
	padding: 0;
	margin: 0;
}

div#wrap {
	width: 1000px;
	margin: 0 auto;
}

header {
	border: 1px solid green;
	height: 200px;
	background-image: url("img/coffee.jpg");
	background-size: 100% 250%;
}

.logo {
	background-color: #fff;
	float: left;
	margin-top: 70px;
	margin-left: 25px;
}

#main-menu {
	float: right;
	/* border: 1px solid #ff0;  */
	background-color: rgba(0, 0, 0, 0.7);
	width: 500px;
	height: 30px;
	margin-top: 68px;
}

#main-menu li { /*   */
	background-color: #000;
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

#main-menu li:HOVER {
	/* 메뉴에 후버시 배경색,커서모양 변화 */
	background-color: #122001;
	cursor: pointer;
}

#main-menu a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#main-menu li:HOVER a {
	/*메뉴에 후버시 링크글자색 변화 */
	color: #efe;
}

article {
	border: 1px solid #ff0;
	height: 600px;
	clear: both;
}

article>h1 {
	background-color: #122001;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.07em; /* 자간 */
	text-transform: uppercase; /*영문의 대소문자 지정*/
	font-family: 'Stylish', sans-serif;
}

section {
	width: 450px;
	height: 500px;
	margin: 30px 20px 0 20px;
	float: left;
}

section#sec01>div {
	background-image: url("img/bags.png");
	height: 160px;
}

div#box01 {
	background-position: 120px 70px;
	transition: all 1.3s;
}

div#box01:HOVER {
	background-position: 0 0;
	background-size: 60% 80%;
}

div#box02 {
	margin: 10px 0;
	background-position: 150px 0;
}

div#box03 {
	background-position: 0 220px;
}

section#sec01>div>p {
	margin: 1em 0.8em;
}

table#board {
	border: 1px solid blue;
	width: 450px;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

table#board th, table#board td {
	border: 1px solid skyblue;
	padding: 6px 10px;
}

table#board tr:HOVER {
	background-color: #eee;
}

table#board tr:NTH-OF-TYPE(2n-1) {
	color: #2ae;
}

table#board tr:NTH-OF-TYPE(4) {
	background-color: #2ae;
	color: #fff;
}

table#board tr td:NTH-OF-TYPE(2n-1) {
	background-color: #ccc;
	text-align: center;
}

footer {
	border: 1px solid blue;
	background-image: url("img/coffee.jpg");
	background-size: 120% 250%;
	background-position: center top;
	margin-top: 50px;
	clear: both;
	height: 150px;
	color: #333;
	text-shadow: 1px 1px 1px #fff;
	font-family: 'Stylish', sans-serif;
}

footer>p {
	border: 1px solid red;
	text-align: center;
	margin: 30px 0;
}

footer>address {
	border: 1px solid red;
	margin-left: 30px;
	font-style: normal;
}