@CHARSET "UTF-8";

body { border: 1px solid red;
  margin: 0; padding: 0; }

* {/* margin: 0; padding: 0; (초기화)  */}

#box1, #box2, #box3 {
	border: 1px solid;
	padding: 30px;
	margin: 20px; }


#ol01>li {
	border: 1px solid;
	width: 200px; }

 /* padding 각 방향별 내부여백 지정 */
.pad_t {padding-top: 50px;}
.pad_r {padding-right: 50px;}
.pad_b {padding-bottom: 50px;}
.pad_l {padding-left: 50px;}


p#p01>span { border: 1px solid #aef; }

span.pad01 {padding:20px;}

span.pad02 {padding: 20px 0;}

span.pad03 {padding: 0 20px;}

span.pad04 {padding: 0 20px 40px 80px;}








