@CHARSET "UTF-8";
/* 상단바 왼쪽 */
.topbar_left li {
	display: inline-block;
	*display: inline;
	padding: 0px 5px;
	margin-left: 30px;
}
.topbar_left li a img{
	height: 65px;
}

/* 로그인 텍스트 부분 */
.mtxt01 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.mtxt01 li {
	display: inline-block;
	*display: inline;
	text-align: center;
	padding: 0 5px;
}

.mtxt01 li a {
	font-size: 15px;
	color: #555;
	height: 20px;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', 돋움, Dotum;
}

.mtxt01 li a:hover {
	color: #999;
}

.mtxt02 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.mtxt02 p {
	color: #999;
}

.mtxt02 span {
	padding: 0 10px;
}

.mline01 {
	height: 1px;
	background: #B2B2B2;
	width: 80px;
	margin: 0 auto;
}


/*
========================================================================
RESET
========================================================================
*/
/* global rest */
html, body {
    height: 100%;
}

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

a,area { blr:expression(this.onFocus=this.blur()) }
:focus { -moz-outline-style: none; }



html, body, pre,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ul, li, ol,
th, td, p, blockquote,
form, fieldset, legend,
menu, nav, section, hgroup, article, header, aside, footer,
input, select, textarea, button {
    margin: 0;
    padding: 0;
}
body,
h1, h2, h3, h4, h5, h6, table,
input, select, textarea, a {
    font-size: 12px;
    line-height: 19px;
    color: #333; 
    font-family:'Nanum Gothic', 'arial', 'Verdana', Dotum, AppleGothic, sans-serif; 
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
img, fieldset,button {
    border:0 none;
}
img {
    vertical-align: top;
}
li {
    list-style: none;
}
hr, caption, legend {
    display: none;
}
a { 
    color: #6D6D6D;
    text-decoration: none;
}
a:hover {
}
button {
    overflow: hidden;
    cursor: pointer;
}
button span {
    visibility: hidden;
}
address, em {
    font-style: normal;
}
button, input, select, textarea, a {
    vertical-align: middle;
}
select {
    line-height: 18px;
    height: 18px;
}
input:focus {
    outline: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}


/*
========================================================================
공통 class
========================================================================
*/
/* image replace, hidden text */
.ir *,
.blind { z-index:-1; position: absolute; display: block; left: 0; top: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; text-indent: -9999px; }
/* block, inline */
.d-block { display: block;}
.d-inline { display: inline;}
/* form */
.txt-right { text-align: right; }
.txt-input1 { padding: 2px 0 0 2px; height: 17px; line-height: 17px; border: 1px solid #e2e9ef; border-top: 1px solid #aaadb2; }
.txt-input2 { padding: 2px 0 0 2px; height: 17px; line-height: 17px; border: 1px solid #dcdcdc; }
.MS_input_txt { margin-right:5px; padding: 2px 0 0 2px; line-height: 17px; border: 1px solid #dcdcdc; }
.txt-disabled { background-color: #f6f6f6; }
.chk-rdo { width: 13px; height: 13px; vertical-align: middle; }
.txt-area1 { overflow-y: scroll; padding: 2px 0 0 2px; line-height: 17px; border: 1px solid #e2e9ef; border-top: 1px solid #aaadb2; }
/* file add trick */
.file-wrap { display: inline-block; overflow: hidden; position: relative; height: 23px; width: 280px; vertical-align: middle;}
.file-wrap .file-txt { float: left; border: 0 none; height: 18px; font-size: 12px; line-height: 18px; width: 198px; border: 1px solid #ccc; }
.file-wrap .file-trick { cursor: pointer; position: absolute; right: 0px; top: 0; right: 0; width: 100px; height: 20px; background: none; border: 0 none; opacity: 0; filter: alpha(opacity=0); }
/* font-color */
.fc-red { color: #bd101b; }
.fc-blue { color: #2c6b9e; }
.MS_option_price { color: #FF3C00; }
/* bold */
.bold { font-weight: bold; }
/* float clear */
.clear {zoom: 1;}
.clear:after {content: ""; display: block; clear: both;}
/* margin */
.mr-5 { margin-right: 5px;}
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
/* padding */
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
/* table */
table img { vertical-align: middle; }
.tb-bold { font-weight: bold; }
.tb-left,
.tb-center,
.tb-right { padding: 0 10px; }
.tb-btn { padding: 0; }
.tb-left { text-align: left; color:#3E3E3E; }
.tb-center { text-align: center; font-size:11px;font-weight:none; color:#000;  font-family: 'Nanum Gothic',돋움;}
.tb-right { text-align: right; }
.tb-label-r5 label { margin-right: 5px; }
.tb-label-r10 label { margin-right: 10px; }
.tb-label-r10 label.last,
.tb-label-r5 label.last{ margin-right: 0; }
/* table-type-1 */
.table-type-1 { border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; }
.table-type-1 th,
.table-type-1 td { padding: 8px 0 8px; background: url(/images/d3/modern_simple/common/dot_h1_w10.gif) repeat-x 0 bottom; }
.table-type-1 tr.nbg th,
.table-type-1 tr.nbg td { background-image: none; }
.table-type-1 tr.bg th,
.table-type-1 tr.bg td { background-color: #f8f8f8; }
.table-type-1 th { font-weight: normal; }
/* table-type-2 */
.table-type-2 { border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; }
.table-type-2 th,
.table-type-2 td { padding: 8px 0 8px; border-bottom: 1px solid #EEEEEE;}
.table-type-2 th { font-weight: normal; }
.table-type-2 tr.nbg th,
.table-type-2 tr.nbg td { background-image: none; }

/* 하단바  */
#ftWrap {
	position: relative;
	width: 100%;
	margin: 0px auto 0px;
	text-align: center;
	background: #fff;
}

#footer {
	position: relative;
	width: 100%;
	text-align: center;
}

#footer .top1 {
	width: 1300px;
	margin: 0 auto;
	border-top: 1px solid #eee;
	margin: 0 auto 40px;
}

#footer .ddinfo {
	width: 1300px;
	margin: 0 auto;
	text-align: left;
	color: #777;
	text-decoration: none;
	font-size: 11pt;
	font-family: 'Nanum Gothic', 돋움;
	font-weight: none;
}

#footer .ddinfo  p {
	padding-bottom: 2px;
}

#footer .ddinfo .info0 {
	float: left;
	width: 440px;
	margin-left: 60px;
}

#footer .ddinfo .info01 {
	float: left;
	width: 260px;
}

#footer .ddinfo .info02 {
	float: left;
	width: 180px;
	margin-left: 100px;
}

#footer .ddinfo .info03 {
	float: left;
	width: 420px;
}

#footer .ddinfo .tit {
	padding-bottom: 10px;
}

#footer .foot_cs {
	padding-top: 0px;
	color: #555;
	text-decoration: none;
	font-size: 10pt;
	font-family: 'Nanum Gothic', 돋움;
	font-weight: bold;
	letter-spacing: 0px;
}

#footer .ddinfo p a {
	color: #777;
	text-decoration: none;
	font-size: 8pt;
	font-family: 'Nanum Gothic', 돋움;
	letter-spacing: 0px;
	padding-bottom: 0px;
}

#footer .ddinfo p a:hover {
	color: #555;
}

#instaPics {
	max-width: 1100px;
	overflow: hidden;
}

#instaPics img {
	width: 80px;
	height: 80px;
}

.insta-box {
	position: relative;
	width: 80px;
	height: 80x;
	float: left;
	margin: 1px;
	border: 1px solid #ddd;
}

.image-layer {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.image-layer img {
	max-width: 100%;
}

.caption-layer {
	display: none;
	position: absolute;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
	height: 100%;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 10px;
	color: #333;
}

.insta-likes {
	float: right;
}
/* 하단바  css end */

