@CHARSET "UTF-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url();
}

a.white12bold:link {
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a.white12bold:visited {
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a.white12bold:active {
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a.white12bold:hover {
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a.grey12:link {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

a.grey12:visited {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

a.grey12:active {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

a.grey12:hover {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

.white12bold {
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	line-height: 17px;
}

.grey12 {
	font-size: 12px;
	color: #666666;
	line-height: 18px;
	font-weight: normal;
}

.stitle {
	height: 15px;
	color: #666666;
	font-size: 11px;
	font-family: Tahoma, Verdana, MalgunGothic, "돋움", "굴림";
	font-weight: bold;
	border-bottom: 2px solid #cccccc
}

.regtable {
	border-top: 1px solid #eaeaea;
	margin: 0 0 20px 0
}

.regtable td {
	border-bottom: 1px solid #eaeaea;
	padding: 0 10px;
	font-family: Tahoma, Verdana, MalgunGothic, "돋움", "굴림";
	font-size: 11px;
}

.bts a {
	display: block;
	float: left;
	font-size: 11px;
	font-family: Tahoma, Verdana, MalgunGothic, "돋움", "굴림";
	color: #777;
	padding-left: 6px;
	text-decoration: none;
	height: 21px;
	cursor: pointer;
	margin-right: 3px;
	overflow: hidden;
	margin: 0 0 0 3px;
	text-align: center
}

.bts a:hover {
	text-align: center
}

.bts a span {
	display: block;
	float: left;
	line-height: 180%;
	padding-right: 6px;
	height: 21px;
	overflow: hidden;
	text-align: center
}

.bts a:hover span {
	color: #000;
	text-align: center
}