@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "맑은 고딕", sans-serif;
}

input {
	outline: 0;
}

#wrap {
	width: 980px;
	/* 	background-color: #fff; */
	margin: 0 auto;
}

.wrap_min {
	min-height: 610px;
}

.clear {
	clear: both;
}

.orange {
	color: orange;
}

.blue {
	color: #00acbf;
}

/* top_lg area */
#top_lg {
	background-color: #333;
	min-width: 980px;
}

#top_lg #login {
	float: right;
	margin: 0;
	padding: 0;
}

#top_lg li {
	float: left;
	list-style: none;
}

#top_lg #login li a {
	color: #eee;
	text-decoration: none;
	display: inline-block;
	padding: 8px 15px;
}

#top_lg #login li a:HOVER {
	background-color: #555;
}

#top_lg #user_info {
	float: right;
	margin: 0;
	padding: 0;
	color: #eee;
}

#top_lg #user_info li {
	padding: 8px 15px;
}

#top_lg #user_info li a {
	color: #eee;
	font-weight: bold;
}

/* header */
header {
	position: relative;
	margin-top: 20px;
}

header #logo {
	float: left;
	width: 140px;
	margin-top: 8px;
	margin-left: 60px;
}

header #search_form {
	float: left;
	width: 510px;
	margin: 15px 0 10px 80px;
}

header #search_form #searchBox {
	float: left;
	width: 400px;
	height: 35px;
	margin: 0 5px;
	font-size: 15px;
	padding: 0 10px;
	border: 3px solid #00acbf;
	border-radius: 6px;
}

header #search_form #searchBtn {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

header #top_menu {
/* 	border-bottom: 1px solid #ccc; */
}

header #top_menu nav ul {
	width: 980px;
	padding: 0;
	margin-top: 15px;
}

header #top_menu nav li {
	float: left;
	list-style: none;
}

header #top_menu nav li a {
	color: #000;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
	padding: 10px 15px;
}

header #top_menu nav li a:HOVER {
	background-color: #ccc;
}

header #hover_menu {
	border: 1px solid #ccc;
	width: 957px;
	height: 260px;
	padding: 10px;
	background-color: #fff;
	position: absolute;
	top: 121px;
	display: none;
	z-index: 1;
}

header #hover_menu .inner {
	float: left;
	margin: 15px 30px;
}

header #hover_menu .inner h3 {
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	width: 120px;
	margin-bottom: 10px;
}

header #hover_menu .inner ul {
	margin: 0;
	padding: 0;
}

header #hover_menu .inner li {
	list-style: none;
	font-size: 14px;
	line-height: 1.7em;
}

header #hover_menu .inner li a {
	color: #333;
	text-decoration: none;
}

header #hover_menu .inner li a:HOVER {
	color: #3248ff;
	text-decoration: underline;
}

header #hover_menu img {
	float: right;
	width: 400px;
	height: 240px;
	margin: 10px 10px 0 0;
}

/* carousel */
#carousel {
	width: 980px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
}

#carousel .banner {
	width: 980px;
	height: 300px;
	float: left;
}

#carousel .leftArrow {
	width: 30px;
	height: 300px;
	position: absolute;
	background-image: url("../images/arrow_prev.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
	margin-left: 0;
	cursor: pointer;
}

#carousel .rightArrow {
	width: 30px;
	height: 300px;
	position: absolute;
	background-image: url("../images/arrow_next.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
	margin-left: 950px;
	cursor: pointer;
}

/* article */
.title {
	font-size: 19px;
	font-weight: normal;
	margin: 0;
}

.bin_price {
	display: inline-block;
	font-size: 23px;
	font-weight: bold;
	margin: 0;
	padding-right: 58px;
	background-image: url("../images/buyitnow.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 60px;
}

.price {
	display: inline-block;
	font-size: 23px;
	font-weight: bold;
	margin: 0;
}
.left_time {
	font-size: 22px;
	font-weight: bold;
	color: red;
}

#features, #items {
	margin-bottom: 60px;
}

.features_title {
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 40px 0;
	background-image: url("../images/title_under.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}

.features_content {
	float: left;
	width: 31%;
	text-align: center;
}

#features .features_content {
	padding-top: 65px;
}

#features .features_content:nth-of-type(1) {
	background-image: url("../images/shield.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center top;
}

#features .features_content:nth-of-type(2) {
	background-image: url("../images/badge.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center top;
}

.features_content:nth-of-type(4n + 2) {
	margin: 0 30px;
}

#features .features_content:nth-of-type(3) {
	background-image: url("../images/rocket.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center top;
}

.features_content h1 {
	font-size: 25px;
	font-weight: normal;
}

.features_content p {
	font-size: 16px;
	color: #777;
}

.features_content .price, .features_content .left_time {
	font-weight: normal;
	font-size: 15px;
	display: block;
	width: 100%;
	height: 17px;
}

.features_content .orange {
	font-size: 11px;
}

.features_img {
	height: 180px;
}

.features_img img {
	width: 100%;
}

.features_content button {
	display: inline-block;
	margin: 20px 0;
	color: #fff;
	font-weight: bold;
	background-color: #999;
	border: 0;
	outline: none;
	border-radius: 8px;
	padding: 7px 20px;
	cursor: pointer;
}
/* footer */
footer {
	background-color: #333;
	border: 1px solid #222;
	color: #ddd;
	padding: 30px;
	min-width: 920px;
	min-height: 100px;
	text-align: center;
}

footer nav ul {
	margin: 0 auto;
	padding: 0;
	width: 410px;
}

footer nav li {
	float: left;
	list-style: none;
	padding: 10px;
}

footer nav li a {
	color: #ddd;
}

/*---------------------------------------------*/
/*---------------------------------------------*/

/* loginPage */
#login_form {
	width: 405px;
	margin: auto;
	margin-top: 10px;
}

#login_form #logo_login {
	width: 140px;
	margin: 10px 0;
}

#login_form input {
	display: block;
	padding: 0 10px;
}

#login_form #idBox, #passBox {
	width: 380px;
	height: 40px;
	margin-top: 10px;
}

#login_form #loginBtn {
	width: 405px;
	height: 50px;
	background-color: #00acbf;
	border: 0;
	border-radius: 6px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.2em;
}

#login_form #alert_area {
	height: 30px;
	color: red;
}

/*---------------------------------------------*/
/*---------------------------------------------*/

/* registerPage */
body#reg_body {
	background-color: #00acbf;
}

.divider {
	width: 1px;
	height: 15px;
	border: 1px solid #ccc;
	margin: 0 10px;
	vertical-align: middle;
}

#reg_wrap {
	margin: 100px auto;
	width: 400px;
}

#reg_wrap #reg_logo {
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

#reg_form {
	background-color: #fff;
	box-shadow: 4px 4px 6px #555;
	padding: 20px 30px;
}

#reg_form h3 {
	text-align: center;
	font-size: 20px;
}

#reg_form label {
	display: block;
	color: #00acbf;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
}

#reg_form input {
	display: block;
	width: 280px;
	height: 35px;
	font-size: 14px;
	padding: 0 10px;
	margin: auto;
}

#reg_form input[type='text'], #reg_form input[type='password'],
	#reg_form input[type='email'] {
	border: 0;
	border-bottom: 2px solid #009bae;
	margin-bottom: 20px;
}

#reg_form #Jgender {
	position: relative;
	width: 305px;
	margin: 10px 0 20px 15px;
}

#reg_form input[type='radio'] {
	display: inline-block;
	width: 150px;
	margin: 0;
}

#reg_form #Jgender label {
	display: inline-block;
	position: absolute;
	width: 153px;
	height: 36px;
	border: 1px solid #009bae;
	background-color: #fff;
	cursor: pointer;
	text-align: center;
	line-height: 35.5px;
}

#reg_form #Jgender label[for='male'] {
	top: 0;
	left: -10px;
}

#reg_form #Jgender label[for='female'] {
	top: 0;
	left: 140px;
}

#reg_form #birth {
	margin-left: 15px;
}

#reg_form #birth input[type='text'] {
	display: inline-block;
	width: 70px;
}

#reg_form #birth select {
	width: 70px;
	height: 35px;
	border: none;
}

#reg_form .textWithBtn {
	display: inline-block;
	width: 200px;
	margin-left: 20px;
}

#reg_form .btn {
	display: inline-block;
	width: 80px;
	border: 1px solid #009bae;
	background-color: #fff;
	color: #009bae;
	cursor: pointer;
	font-weight: bold;
	border-radius: 3px;
}

#reg_form .btn:ACTIVE {
	background-color: #ddd;
}

#reg_form #postcode, #reg_form #address {
	margin-bottom: 5px;
}

#reg_form .check_status {
	display: block;
	color: green;
	margin: -15px 0 0 20px;
	font-size: 14px;
}

#reg_form #regBtn {
	margin-top: 10px;
	width: 300px;
	height: 40px;
	background-color: #00acbf;
	border: none;
	border-bottom: 6px solid #008a9e;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.2em;
	cursor: pointer;
}

/*---------------------------------------------*/
/*---------------------------------------------*/
/* 회원정보 수정/탈퇴 */

/* pass_check Page */
header #ui_top_banner {
	border-bottom: 3px solid #424447;
	min-width: 980px;
	padding: 5px 0;
}

header #ui_title {
	float: left;
	margin: 10px 5px;
	padding: 0;
	font-size: 40px;
	letter-spacing: -0.1em;
}

header #ui_top_menu {
	float: left;
	margin: 25px 0 0 30px;
	padding: 0;
}

header #ui_top_menu li {
	float: left;
	list-style: none;
	margin: 0 15px;
}

header #ui_top_menu li a {
	font-size: 17px;
	font-weight: bold;
	color: #222;
	text-decoration: none;
}

header #ui_top_menu li:nth-of-type(4) a {
	color: #888;
}

header #ui_top_menu li a:HOVER, header #ui_top_menu li .ui_selected {
	color: #00acbf;
	text-decoration: underline;
}

article #pass_check {
	background-image: url("../images/locked.png");
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 150px;
	padding: 10px 10px 10px 200px;
	border-bottom: 1px solid #ccc;
}

article #pass_check h1 {
	font-size: 25px;
	font-weight: normal;
}

#user_info_form {
	padding: 30px 30px 30px 40px;
	border-bottom: 1px solid #ccc;
}

#user_info_form td {
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0;
}

#user_info_form .label_td {
	width: 150px;
}

#user_info_form label {
	font-size: 16px;
	color: #00acbf;
}

#user_info_form input[type="password"], #user_info_form input[type="text"]
	{
	width: 280px;
	height: 25px;
	padding: 0 10px;
	border: none;
	border-bottom: 1px solid #00acbf;
}

#user_info_form #id {
	border: none;
}

#pass_recheck_btn {
	width: 250px;
	margin: auto;
}

#pass_recheck_btn input {
	display: inline-block;
	width: 100px;
	height: 50px;
	margin: 20px 10px;
	border: 1px solid #009bae;
	background-color: #fff;
	color: #009bae;
	cursor: pointer;
	font-weight: bold;
	border-radius: 3px;
}

#pass_recheck_btn input:ACTIVE {
	background-color: #ddd;
}

/* pass_change Page */
article #pass_change {
	background-image: url("../images/pass_change.png");
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 140px;
	padding: 10px 10px 10px 200px;
	border-bottom: 1px solid #ccc;
}

article #pass_change h1 {
	font-size: 25px;
	font-weight: normal;
}

/* close_acc Page */
article #close_acc {
	background-image: url("../images/cancel.png");
	background-repeat: no-repeat;
	background-position: 35px center;
	background-size: 120px;
	padding: 10px 10px 10px 200px;
	border-bottom: 1px solid #ccc;
}

article #close_acc h1 {
	font-size: 25px;
	font-weight: normal;
}

#user_info_form #close_info {
	border-collapse: collapse;
}

#user_info_form #close_info td {
	font-size: 13px;
	font-weight: normal;
	color: #666;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 15px 0 15px 10px;
}
#user_info_form #close_info td:nth-of-type(1) {
	width: 150px;
}
#user_info_form #close_info td:nth-of-type(2) {
	width: 790px;
	border-left: 1px solid #ccc;
}

/* change_info Page */
article #change_info {
	background-image: url("../images/user_info.png");
	background-repeat: no-repeat;
	background-position: 35px center;
	background-size: 140px;
	padding: 10px 10px 10px 200px;
	border-bottom: 1px solid #ccc;
}

article #change_info h1 {
	font-size: 25px;
	font-weight: normal;
}

#user_info_form #birth input[type='text'] {
	display: inline-block;
	width: 85px;
}