@CHARSET "UTF-8";


 section {border: 3px solid #a00;
  margin: 50px 20px; 
  padding: 20px; 
  background-image: url("img/carrots.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;/* 가로크기 세로크기 */}


 section>div {border: 1px solid; 
  width: 800px;  height: 50px;
  margin: 10px 5px;
  padding: 2px 6px;
  box-sizing: border-box;
  color: #fff; 
  font-size:1.2em;
  font-weight: bold;}
  
  section#sec01>div {
  background-color: #000;  }

 /* opacity 요소의 투명도*/
 .opa01 {opacity: 0;}
 .opa02 {opacity: 0.1;}
 .opa03 {opacity: 0.2;}
 .opa04 {opacity: 0.3;}
 .opa05 {opacity: 0.4;}
 .opa06 {opacity: 0.5;}
 .opa07 {opacity: 0.6;}
 .opa08 {opacity: 0.7;}
 .opa09 {opacity: 0.8;}
 .opa10 {opacity: 0.9;}
 .opa11 {opacity: 1;}

 section#sec01:HOVER>div {
	opacity: 1; 
	transition:all 1.3s;}
	
	
	/* rgba(n,n,n,n)컬러의 투명도 */
section#sec02>h1 {
 font-size:40px;	
 color: rgba(0,0,0,0.3);	
 text-shadow: 3px 3px 2px rgba(0,0,0,0.5);}
 
.alpha01 {background-color: rgba(0,0,0,0);}
.alpha02 {background-color: rgba(0,0,0,0.1);}
.alpha03 {background-color: rgba(0,0,0,0.2);}
.alpha04 {background-color: rgba(0,0,0,0.3);}
.alpha05 {background-color: rgba(0,0,0,0.4);}
.alpha06 {background-color: rgba(0,0,0,0.5);}
.alpha07 {background-color: rgba(0,0,0,0.6);}
.alpha08 {background-color: rgba(0,0,0,0.7);}
.alpha09 {background-color: rgba(0,0,0,0.8);}
.alpha10 {background-color: rgba(0,0,0,0.9);}
.alpha11 {background-color: rgba(0,0,0,1);}

section#sec02:HOVER>div {background-color: rgba(0,0,0,1); 
	transition:all 1.3s;}
	
}
	
	












