@CHARSET "UTF-8";

.text{
	border: 1px solid;
	padding: 1em 1.2em;
	margin-bottom: 50px;
	white-space: pre;
}
/* float:left와 right의 차이 */
#box01, #box02 {
	padding: 30px;
	margin-bottom: 50px;
	border: 6px double #ccc;
}

#box01>img {
	width: 200px;
	float: left;
}

#box02>img {
	width: 200px;
	float: right;
}

/* block요소들에 float:left; 적용 */
#box03 {
	border: 4px dashed #d00;
	margin: 50px;
	padding: 30px;
	height: 250px;
}

#box03>p {
	border: 1px solid;
	width: 150px;
	height: 50px;
	float: left;
}

#box03>h4 {
	border: 1px solid green;
	clear: both;
}

/* block요소들에 float:right; 적용 */
#box04 {
	border: 4px dashed #00d;
	margin: 50px;
	padding: 30px;
	height: 250px;
}

#box04>p {
	border: 1px solid;
	width: 150px;
	height: 50px;
	float: right;
}

#box04>h4 {
	border: 1px solid green;
	clear: both;
}

/* 가로메뉴바에 float활용 */

#menu{
	border: 1px solid red;
/* 	height: 35px; */
}
nav li {
	border: 1px solid pink;
	width: 100px;
	height: 30px;
 	float: left; 
/* 	margin-right: 10px; */
/* 	list-style: none; */
}

.clear{
	clear: both;
}